.header {
  grid-area: header;
  height: 60px;
  display: flex;
  justify-content: space-between; /* Align left and right sections */
  align-items: center;
  padding: 0 20px;
  background-color: #34495e;
  color: #ffffff;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.header-left {
  display: flex; /* Use flex to align logo and hamburger icon horizontally */
  align-items: center;
  gap: 50px; /* Space between logo and hamburger icon */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px; /* Adjust height for the logo */
  max-height: 100%; /* Prevent logo from overflowing */
  object-fit: contain; /* Ensure logo scales properly */
}

.hamburger-icon {
  font-size: 1.5rem;
  cursor: pointer;
  /* Adjust margin for spacing */
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust spacing between notification and profile icons */
  margin-right: 20px;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s;
}

.icon:hover {
  color: #3498db; /* Hover effect for icons */
}
